[submodule "vendor/phpunit"]
	path = vendor/phpunit
	url = https://github.com/sebastianbergmann/phpunit.git
[submodule "vendor/dbunit"]
	path = vendor/dbunit
	url = https://github.com/sebastianbergmann/dbunit.git
[submodule "vendor/php-file-iterator"]
	path = vendor/php-file-iterator
	url = https://github.com/sebastianbergmann/php-file-iterator.git
[submodule "vendor/php-text-template"]
	path = vendor/php-text-template
	url = https://github.com/sebastianbergmann/php-text-template.git
[submodule "vendor/php-code-coverage"]
	path = vendor/php-code-coverage
	url = https://github.com/sebastianbergmann/php-code-coverage.git
[submodule "vendor/php-timer"]
	path = vendor/php-timer
	url = https://github.com/sebastianbergmann/php-timer.git
[submodule "vendor/phpunit-mock-objects"]
	path = vendor/phpunit-mock-objects
	url = https://github.com/sebastianbergmann/phpunit-mock-objects.git
[submodule "vendor/phpunit-selenium"]
	path = vendor/phpunit-selenium
	url = https://github.com/sebastianbergmann/phpunit-selenium.git
[submodule "vendor/php-token-stream"]
	path = vendor/php-token-stream
	url = https://github.com/sebastianbergmann/php-token-stream.git
