@charset "utf-8";
@import "base.css";
@import "custom.css";

table.table_list {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
}

	table.table_list tbody tr.item-even > th,
	table.table_list tbody tr.item-even > td {
		background: #F6F6F6;
	}

	table.table_list thead th {
		background: #4D4D4F;
		color: #fff;
		font-weight: normal;
		padding: 10px;
		text-align: left;
	}
	
	table.table_list tbody th,
	table.table_list tbody td {
		border-bottom: 1px solid #E9E9E9;
		font-weight: normal;
		text-align: left;
		padding: 10px;
		vertical-align: middle;
	}
/*
	#pageMap
*/
#pageMap {
	
}

#pageMap ul {
	list-style: none;
}
#pageMap ul .title {
	display:block;
	margin-right:310px;
}

#pageMap ul .title em {
	font-style:normal;
}

#pageMap ul .title i {
	font-size:80%;
	color:silver;
	font-style:normal;
}

#pageMap .item-preview {
	display:none;
	margin-left:10px;
}

#pageMap .item:hover .item-preview {
	display:inline;
}

#pageMap .status {
	position:absolute;
	top:0;
	right:200px;
}

#pageMap .status em {
	font-style:normal;
}

#pageMap .item-status-published { color:green; }
#pageMap .item-status-hidden { color:gray; }
#pageMap .item-status-draft { color:maroon; }
#pageMap .item-status-reviewed { color:orange; }
#pageMap .item-status-pending { color:blue; }

#pageMap .date {
	position:absolute;
	top:0;
	right:105px;
}

#pageMapItems .date,
#pageMapItems .status {
	font-size:90%;
}

#pageMap .actions {
	position:absolute;
	top:0;
	right:15px;
	display:none;
}

#pageMap .item:hover .actions {
	display:block;
}



/*
	#pageMapSearch
*/
#pageMapSearch {
	position:relative;
	float:right;
	text-align:right;
}

#pageMapSearchReset {
	display:none;
}

#pageMapSearchItems {
	display:none;
}



/*
	#pageEdit
*/
#pageEdit {
	position:relative;
}

	#pageEdit .container-fluid {
		padding: 0;
	}

#pageEdit .box-buttons {
	margin-top:0;
}

#pageEditView {
	margin-left:10px;
}

#pageEditMeta p {
	margin:1em 0;
}

#pageEditMeta label {
	display:block;
	float:left;
}

#pageEditMeta div.row {
	margin-left:150px;
}

#pageEdit .checkbox label {
	display:inline;
	float:none;
}

#pageEditMeta .input-text {
	width:100%;
}

#pageEditMeta .textarea {
	width:100%;
	height:50px;
}

#pageEditMetaTitle {
	background: whitesmoke;
	border-bottom: 1px solid #4D4D4F;
	padding: 20px 0 0;
}

	#pageEditMetaTitle .controls {
		padding-right: 50px;
	}

#pageEditMetaMoreButton {
	position:absolute;
	right:15px;
	top:30px;
}

#pageEditMetaMore {
	display:none;
	padding-top: 10px;
	background-color:whitesmoke;
}

#pageEditMetaMore .controls {
	padding: 0 55px 0 0;
}

#pageEditMetaMore textarea {
	height: 50px;
}

#pageEditParts {

}

#pageEditParts .item {
	border-top:1px solid #363638;
}

#pageEditParts .item-title {
	position:relative;
	background:#4d4d4f;
	color:#fff;
	padding:7px 15px;
}

#pageEditParts .item-title i {
	color:silver;
	font-style:normal;
	margin-left:5px;
}

#pageEditParts .item-options-button {
	position:absolute;
	right:15px; top:8px;
}

#pageEditParts .item-options {
	padding: 5px 15px;
	display:none;
	border-bottom: 1px solid #ccc;
	background: whitesmoke;
}

#pageEditParts .item-options div {
	margin: 10px 0;
}

#pageEditParts .item-content {
	padding: 1px;
	background: #ccc;
}

#pageEditParts .item-content textarea {
	width:100%;
	max-width:100%;
	min-width:100%;
	height:250px;
	padding: 0;
	background:#fff;
	border: none;
	border-radius: 0;
}

#pageEditParts .item-content textarea:focus {
	outline:none;
}

/* TinyMCE default skin changes */
#pageEditParts .defaultSkin table.mceLayout {border:0; border-left:0; border-right:0;}
#pageEditParts .defaultSkin table.mceLayout tr.mceFirst td {border-top:0;}
#pageEditParts .defaultSkin table.mceLayout tr.mceLast td {border-bottom:0;}

#pageEditParts .item-part-protected {
	padding:7px 15px 7px 30px;
	background:url(../images/lock.png) 15px center no-repeat;
	font-size:90%;
}

#pageEditPartAdd {

	padding:15px;
	border-top:1px solid #ccc;
}

#pageEdit .plugin {

	padding:15px;
	border-top:1px solid #ccc;
}


/*
	#pageEdit
*/
#pageEditOptions p {
	margin:1em 0;
}

#pageEditOptions label {
	display:block;
	font-size:90%;
	margin-bottom:.2em;
}

#pageEditOptions .checkbox {
	display:block;
	margin:0.2em 0;
	font-style:normal;
}

#pageEditOptions .checkbox label {
	display:inline;
}


/*
	#pluginsMap
*/
#PluginsList .actions  {
	vertical-align:middle;
}

#PluginsList td {
	vertical-align:middle;
}

#PluginsList .title {
	
}

#PluginsList .title em,
#PluginsList .title i {
	display:block;
	font-style:normal;
	line-height:1em;
}

#PluginsList .title i {
	color:gray;
	margin-top: 1em;
	font-size: 80%;
}

#PluginsList .item:hover .title i {
	display:block;
}

#PluginsList .disabled {
	color:red;
}

#PluginsList .item-disabled {
	color:silver;
}

#PluginsList .item-enabled {
	color: green;
	font-weight: bold;
}

/*
	handset media gadgets
*/
@media mobile, handheld {
	#pageMap .actions {
		display:block;
	}
}

.CodeMirror {
	background: #fff;
}