@charset "utf-8";
body {
	background: whitesmoke url(../images/body-bg.png);
}

/*
	.loader
*/
.loader {
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/dot-black-opacity.png);
	opacity:0;
	z-index:5000;
}

.msie .loader {
	background:transparent;
}

.loader span {
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	margin:-25px 0 0 -50px;
	padding-left:40px;
	width:90px;
	line-height:50px;
	text-align:center;
	color:#fff;
	background:#000 url(../images/loader-big-black.gif) 15px center no-repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:default;
}

/*
	.map
*/

.map-header {
	position:relative;
	background:#4d4d4f;
	color:#fff;
	/*border-bottom:1px solid #e9e9e9;*/
	padding: 0 15px;
	line-height: 35px;
}

.map-header a {
	color:#fff;
}

.map-items, .map-items ul  {
	margin: 0;
}

.map-items .item {
	position:relative;
	padding:0 15px;
	border-bottom:1px solid #e9e9e9;
	line-height:35px;
}

.map-wait {
	height:30px;
	background:#fff url(../images/loader-small-white.gif) center center no-repeat;
}

.map-items img {
	vertical-align:middle;
}

.map-items ul .item { padding-left:35px; }
.map-items ul ul .item { padding-left:65px; }
.map-items ul ul ul .item { padding-left:95px; }
.map-items ul ul ul ul .item { padding-left:125px; }
.map-items ul ul ul ul ul .item { padding-left:155px; }
.map-items ul ul ul ul ul ul .item { padding-left:185px; }
.map-items ul ul ul ul ul ul ul .item { padding-left:215px; }
.map-items ul ul ul ul ul ul ul ul .item { padding-left:245px; }
.map-items ul ul ul ul ul ul ul ul ul .item { padding-left:275px; }
.map-items ul ul ul ul ul ul ul ul ul ul .item { padding-left:305px; }

.map-items .item-odd {
	background:#f6f6f6;
}

.map-items .item-even(even) {
	background:#fdfdfd;
}

.map-items li:hover > .item {
	background:#fff; /* url(../images/cur-silver.png) center left no-repeat; */
}

.map-items li:hover > .item a {
	color:#333435;
}

.map-items li:hover .item:hover {
	background:#fdffbe; /* url(../images/cur-orange.png) center left no-repeat; */
}

.map-placeholder {
	border-top:1px solid #4787ed;
}

.map-drag {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;   
}

.map-drag .item,
.map-drag .item:hover {
	border:1px dashed #ccc;
	margin:2px;
	cursor:move;
}

.map-items .ui-sortable-helper > .item {
	border:none;
}

.map-items .item-expander {
	position:absolute;
	top:10px;
	margin-left:-23px;
	cursor:pointer;
}



/*------------------------------------------------------------------
[7. Error / .error-container]
*/

.error-container {
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}

.error-container h1 {
	margin-bottom: .5em;
	
	font-size: 120px;
	line-height: 1em;
}

.error-container h2 {
	margin-bottom: .75em;
	font-size: 28px;
}

.error-container .error-details {
	margin-bottom: 1.5em;
	
	font-size: 16px;
}

.error-container .error-actions a {
	margin: 0 .5em;
}