@charset "utf-8";

body {
	background: whitesmoke url(../images/body-bg.png);
}

.hero-unit {
	margin: 30px auto;
	padding: 30px 50px;
	border: 1px solid #ccc;
	background: #F5F5F5;
}

	.hero-unit h1 {
		font-size: 30px;
	}
	
	.hero-unit .help-block {
		font-size: 10px;
		margin-top: 4px;
	}
	
	.hero-unit legend {
		border-bottom-color: #fff;
	}

#login-form {
	width: 450px;
}

	#login-form .control-group input.login-field {
		font-size: 18px;
		padding: 10px;
	}

	#login-form .control-group .add-on {
		padding: 10px;
	}
	
#error-container {
	width: 600px;
	margin-top: 60px;
	padding: 60px 80px 80px;
	text-align: center;
}
	
	#error-container h1 {
		font-size: 60px;
	}
	
	#error-container .error-actions {
		margin-top: 30px;
	}
	
table td.pass { color: #191; }
table td.fail { color: #911; }