wiki/*
nbproject/*
/config.php
/cms/cache/*
/cms/logs/*
!/cms/cache/*.html
!/cms/cache/tags/
!/cms/cache/tags/*.html
!/cms/logs/*.html
/.idea/
/public/*
!/public/*.html
cms/media/js/i18n
/snippets/*
/layouts/*
/patches/*
!/layouts/index.html
!/snippets/index.html