AddDefaultCharset UTF-8

RewriteEngine On

# Set next line to your CMS root - if not in subdir, then just / 
#RewriteBase /

# Remove www. from URL (you can uncomment this)
#RewriteCond %{HTTP_HOST} ^www.(\S+)$
#RewriteRule ^(.*)$ http://%1/$1 [R,L]

# Rewrite all requests to admin section
#RewriteCond %{REQUEST_FILENAME} -d
#RewriteRule ^(admin)(|/)$ index.php?/$1/ [L,QSA]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/?URL
RewriteRule .* index.php?/$0 [L,QSA]