@import "../libs/bootstrap/less/bootstrap.less";
@import "../libs/fontawesome/less/font-awesome.less";
@import "widget.less";
@import "custom-bootstrap.less";
@import "helpers.less";


/* ===================================================
	Design
 =================================================== */
@contentBottomPadding: 30px;
@footerHeight: 55px;
@footerPadding: 20px;

body {}
html, body {
	width: 100%;
	height: 100%;
	background-color: #f1f2f3;
}

#content-wrapper {
	height: auto !important;
    min-height: 100%;
	min-width: 860px;
}

#content {
	padding-top: 15px;
	padding-bottom: @footerHeight + @contentBottomPadding - 15px;
}

.iframe {
	.container-fluid, #content {
		margin: 0; padding: 0;
	}
}


footer {
    background-color: #6E6D71;
    border-top: 1px solid #fff;
	border-bottom: 1px solid #252525;
    padding-top: @footerPadding;
	color: #fff;

	.box-shadow(0 10px 5px #5A595D inset);
	
	height: @footerHeight - @footerPadding - 2px;
	margin-top: -@footerHeight;
    position: relative;

	a {
		color: #ccc;
		text-decoration: underline;
	}
}


/* ===================================================
	Loader
 ===================================================*/
._loader_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;

	._loader_bg {
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		background: -moz-radial-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
		background: -webkit-radial-gradient(50% 50%,ellipse closest-side,#fff,#000 100%);
		background: -o-radial-gradient(50% 50%,rgba(0,0,0,0),rgba(0,0,0,1));
		opacity: 0.6;
		z-index: 5001;
		cursor: wait;
	}

	span {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -25px 0 0 -50px;
		padding-left: 40px;
		width: 90px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		background: #000 url(../images/loader-big-black.gif) 15px center no-repeat;
		z-index: 5002;
	}
}

.navigation-avatar {
	text-align: center;
	margin: 10px 0;
}

.map-items {
	margin: 0;

	li {
		& > .item {
			position: relative;
			padding: 0 15px;
			border-bottom: 1px solid #e9e9e9;
			line-height: 35px;
		}


		&:nth-child(even) {
			& > .item {
				background-color: #f9f9f9;
			}
		}

		&:hover {
			& > .item {
				background-color: #fff;

				&:hover {
					background-color: #fdffbe;
				}

				a {
					color: #333435;
				}
			}
		}

		&.map-placeholder {
			height: 42px;
			line-height: 42px;
			background-color: lighten(#fdffbe, 10%);
		}
	}

	img {
		vertical-align: middle;
	}

	ui-sortable-helper > .item {
		border: none;
	}

	.ulX(@index: 0, @uls: ul, @defaultPadding: 0px, @increment: 35px) when (@index < 10) {
      (~"@{uls} .item .title") { .ulSettings(@defaultPadding + @increment); }
      .ulX(@index + 1, ('@{uls} ul'), @defaultPadding + @increment);
    }

	.ulSettings(@padding) {
		padding-left: @padding;
	}

	.ulX(1);

	.helper-ul {
		border: 1px solid #0088CC;
		padding: 5px;
		background-color: lighten(#fdffbe, 10%);
	}
}


.map-wait {
	height: 30px;
	background: #fff url(../images/loader-small-white.gif) center center no-repeat;
}

/* ===================================================
	Page map
 ===================================================*/
#pageMapHeader {
	margin-bottom: 0;
}

.page-items {
	
	.item {

		.item-expander {
			margin-left: -17px;
			cursor: pointer;
		}

		.title {

			i {
				font-size: 110%;
			}
		}

		.status {}

		.date {}

		.date,
		.status {
			font-size: 90%;
			text-align: right;
		}

		.actions {
			display: none;
			text-align: right;
		}


		&:hover {
			.item-preview {
				display: inline;
			}

			.actions {
				display: block;
			}
		}
	}
	
	.map-drag {
		.item {
			border: 1px dashed #ccc;
		}
	}

	.item-preview {
		display: none;
		margin-left: 10px;
	}
}

/* ===================================================
	Page sort
 ===================================================*/

@ddItemPadding: 12px;
@ddListPaddingLeft: 40px;


.sort-pages {
	padding: 0 5px;
}

.dd {
	position: relative; 
}

padding: 0 5px;

.dd-list { 
	position: relative; 

	&.dd-dragel { 
		position: absolute; 
		pointer-events: none; 
		z-index: 9999;

		& > .dd-item .dd-handle { 
			margin-top: 0; 
		}

		.dd-handle {
			.box-shadow(2px 4px 6px 0 rgba(0,0,0,.1));
		}
	}
}

.dd-list .dd-list { 
	padding-left: @ddListPaddingLeft; 
}

.dd-collapsed .dd-list { 
	display: none; 
}

.dd-item {
	> button { 
		display: block; 
		position: relative; 
		cursor: pointer; 
		float: left; 
		width: 25px; 
		padding: @ddItemPadding 0; 
		text-indent: 100%; 
		white-space: nowrap; 
		overflow: hidden; 
		border: 0; 
		background: transparent; 
		font-size: 12px; 
		line-height: 1; 
		text-align: center; 
		font-weight: bold;

		&:before { 
			content: '+'; 
			display: block; 
			position: absolute; 
			width: 100%; 
			text-align: center; 
			text-indent: 0; 
		}

		&[data-action="collapse"]:before { 
			content: '-'; 
		}
	}
}

.dd-root,
.dd-handle {
	margin: 5px 0;
	padding: (@ddItemPadding - 3px) 10px;
	
	.gradientBar(rgba(255,255,255,1), rgba(242,242,242,1), #666, 0 1px 0 #fff);
	border: 1px solid #d4d4d4;
	*zoom: 1;
	.box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
	

	.title {
		font-weight: bold;
	}
}

.dd-handle {
	padding-left: 20px;

	&:hover { 
		color: #2ea8e5; 
		background: #fff;
		cursor: move;
	}

	i {
		margin-right: 5px;
	}
}

.dd-placeholder,
.dd-empty { 
	margin: 5px 0; 
	padding: 0; 
	min-height: 30px; 
	background: #f2fbff; 
	border: 1px dashed #b6bcbf;
	position: relative;
}

.dd-empty { 
	border: 1px dashed #bbb; 
	min-height: 100px;
}

/* ===================================================
	Page Edit
 ===================================================*/
#pageEdit {
	position: relative;

	.container-fluid {
		
	}

	.box-buttons {
		margin-top: 0;
	}

	.checkbox label {
		display: inline;
		float: none;
	}

	.plugin {
		padding: 15px;
		border-top: 1px solid #ccc;
	}
}

#pageEditView {
	margin-left:10px;
}

#pageEditMeta {
	p {
		margin: 1em 0;
	}

	label {
		display: block;
		float: left;
	}

	div.row {
		margin-left: 150px;
	}
	.input-text {
		width: 100%;
	}

	.textarea {
		width: 100%;
		height: 50px;
	}
}


#pageEditMetaTitle {

	.controls {
		padding-right: 50px;
	}
}



#pageEditMetaMore {

	.control-group {
		margin-bottom: 10px;
	}

	.controls {
		padding: 0 55px 0 0;
	}

	textarea {
		height: 50px;
	}
}
#pageEditParts {

	.item {
		border-top: 1px solid #363638;
	}

	.item-title {
		position: relative;
		background: #4d4d4f;
		color: #fff;
		padding: 7px 15px;

		i {
			color: silver;
			font-style: normal;
			margin-left: 5px;
		}
	}

	.part-name {
		cursor: pointer;
	}

	.part-options-button {
		cursor: pointer
	}

	.part-options {
		display: none;
	}

	.part-textarea {
		textarea {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			height: 250px;
			padding: 0;
			background: #fff;
			border: none;
			
			

			&:focus {
				outline: none;
			}
		}
	}

	.item-part-protected {
		padding: 7px 15px 7px 30px;
		background: url("../images/lock.png") 15px center no-repeat;
		font-size: 90%;
	}
}

#pageEditOptions {
	label {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}
	
	.select2-container {
		min-width: 0;
	}
}

#login-form {
	width: 480px;
	border-width: 0;
	border: 1px solid #ccc;
	padding: 0;
	background:  rgba(38, 38, 38, 0.1);

	.outline_inner {
		padding: 20px;
		background: whitesmoke;
	}

	.control-group {
		input.login-field {
			font-size: 18px;
			padding: 11px;
		}

		.add-on {
			padding: 11px;
			font-size: 16px;
		}
	}
}
	
#error-container {
	width: 400px;
	margin-top: 60px;
	padding: 60px 80px 80px;
	text-align: center;
	background: whitesmoke;

	h1 {
		font-size: 60px;
	}

	.error-actions {
		margin-top: 30px;
	}
}

#contentSidebar {
	background: #fff;

	h3 {
		margin-top: 0;
	}
}

#permissions-list h4 {
	margin: 0;
}

#textarea_content {
	width: 98%;
	padding: 10px;
}

#UserGravatar img {
	.box-shadow('0 1px 2px rgba(0, 0, 0, 0.15)');
	border: 1px solid #DDDDDD;
}

#profile .list-group:last-child {
	margin-bottom: 0;
}

.profile-header {
	margin-top: 20px;
	margin-bottom: 40px;

	.profile-avatar {
		float: left;
		margin-right: 25px;
		border: 2px solid #e9ecee;
		position: relative;
		top: 3px;
	}

	.profile-username {
		padding: 20px 0 0 10px;
		line-height: 26px;
		margin-bottom: 10px;
		float: none;
	}
	
	.profile-name {
		color: #7d848c;
		font-size: 14px;
	}
}

.profile-toolbar {
	padding: 15px;
	background: #f9f9f9;
	margin-bottom: 20px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: -18px;
}


.env_test {
	td {
		&.pass { color: green;}
		&.fail { color: red; }
	}
}

#jGrowl {
	.alert {
		
		margin-bottom: 0;
		padding-right: 10px;
	}

	.alert-success {
		border-top-color: lighten(@successBorder, 20%);
		border-bottom-color: darken(@successBorder, 20%);
	}

	.alert-success {
		border-top-color: lighten(@errorBackground, 20%);
		border-bottom-color: darken(@errorBackground, 20%);
	}
}

.ace_editor {
	z-index: 999;
}