@import "../libs/bootstrap/css/bootstrap.min.css";


/* ===================================================
	Design
 ===================================================*/

body {
	//background: whitesmoke url("../images/body-bg.png");
}

html, body {
	width: 100%;
	height: 100%;
}

#content-wrapper {
	height: auto !important;
    min-height: 100%;
}

#content {
	margin-top: 15px;
	padding-bottom: 170px;
}

#footer {
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
	border-bottom-width: 0;
    padding-top: 40px;
	
	height: 58px;
	margin-top: -100px;
    position: relative;
}


/* ===================================================
	Loader
 ===================================================*/

.loader {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/dot-black-opacity.png);
	opacity: 0;
	z-index: 5000;

	span {
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -25px 0 0 -50px;
		padding-left: 40px;
		width: 90px;
		line-height: 50px;
		text-align: center;
		color: #fff;
		background: #000 url(../images/loader-big-black.gif) 15px center no-repeat;
		cursor: default;
	}
}


.map-header {
	position: relative;
	background: #4d4d4f;
	color: #fff;
	padding: 0 15px;
	line-height: 35px;

	a {
		color: #fff;
	}
}

.map-items {
	margin: 0;

	li {
		& > .item {
			position: relative;
			padding: 0 15px;
			border-bottom: 1px solid #e9e9e9;
			line-height: 35px;
		}


		&:nth-child(even) {
			& > .item {
				background-color: #f9f9f9;
			}
		}

		&:hover {
			& > .item {
				background-color: #fff; /* url(../images/cur-silver.png) center left no-repeat; */

				&:hover {
					background-color: #fdffbe; /* url(../images/cur-orange.png) center left no-repeat; */
				}

				a {
					color: #333435;
				}
			}
		}

		&.map-placeholder {
			height: 42px;
			line-height: 42px;
			//border: 1px solid #0088CC;
			background-color: lighten(#fdffbe, 10%);
		}
	}

	img {
		vertical-align: middle;
	}

	ui-sortable-helper > .item {
		border: none;
	}

	.item-expander {
		position: absolute;
		top: 10px;
		margin-left: -23px;
		cursor: pointer;
	}

	ul  {
		margin: 0;
		.item { padding-left: 35px; }
		ul .item { padding-left: 65px; }
		ul ul .item { padding-left:95px; }
		ul ul ul .item { padding-left:125px; }
		ul ul ul ul .item { padding-left:155px; }
		ul ul ul ul ul .item { padding-left:185px; }
		ul ul ul ul ul ul .item { padding-left:215px; }
		ul ul ul ul ul ul ul .item { padding-left:245px; }
		ul ul ul ul ul ul ul ul .item { padding-left:275px; }
		ul ul ul ul ul ul ul ul ul .item { padding-left:305px; }
	}

	.helper-ul {
		border: 1px solid #0088CC;
		padding: 5px;
		background-color: lighten(#fdffbe, 10%);
	}
}


.map-wait {
	height: 30px;
	background: #fff url(../images/loader-small-white.gif) center center no-repeat;
}

.map-drag {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;

	.item,
	.item:hover {
		border: 1px dashed #ccc;
		margin: 2px;
		cursor: move;
	}
}


/* ===================================================
	Table design
 ===================================================*/
table.table_list {
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;


	tbody {

		th,
		td {
			border-bottom: 1px solid #E9E9E9;
			font-weight: normal;
			text-align: left;
			padding: 10px;
			vertical-align: middle;
		}

		tr.item-even {
			& > th,
			& > td {
				background: #F6F6F6;
			}
		}
	}

	thead th {
		background: #4D4D4F;
		color: #fff;
		font-weight: normal;
		padding: 10px;
		text-align: left;
	}
}


/* ===================================================
	Page map
 ===================================================*/
#pageMap {
	
	ul {
		list-style: none;

		.title {
			display: block;
			margin-right: 310px;

			em {
				font-style: normal;
			}

			i {
				font-size: 80%;
				color: silver;
				font-style: normal;
			}
		}
	}

	.item-preview {
		display: none;
		margin-left: 10px;
	}

	.status {
		position: absolute;
		top: 0;
		right: 200px;
	}

	.date {
		position: absolute;
		top: 0;
		right: 105px;
	}

	.date,
	.status {
		font-size: 90%;
	}

	.actions {
		position: absolute;
		top: 0;
		right: 15px;
		display: none;
	}

	.item:hover {
		.item-preview {
			display: inline;
		}

		.actions {
			display: block;
		}
	}
}

/* ===================================================
	Page Edit
 ===================================================*/
#pageEdit {
	position: relative;

	.container-fluid {
		padding: 0;
	}

	.box-buttons {
		margin-top: 0;
	}

	.checkbox label {
		display: inline;
		float: none;
	}

	.plugin {
		padding: 15px;
		border-top: 1px solid #ccc;
	}
}

#pageEditView {
	margin-left:10px;
}

#pageEditMeta {
	p {
		margin: 1em 0;
	}

	label {
		display: block;
		float: left;
	}

	div.row {
		margin-left: 150px;
	}
	.input-text {
		width: 100%;
	}

	.textarea {
		width: 100%;
		height: 50px;
	}
}

#pageEditMetaTitle {
	background: whitesmoke;
	border-bottom: 1px solid #4D4D4F;
	padding: 20px 0 0;

	.controls {
		padding-right: 50px;
	}
}

#pageEditMetaMoreButton {
	position:absolute;
	right:15px;
	top:30px;
}

#pageEditMetaMore {
	display: none;
	padding-top: 10px;
	background-color: whitesmoke;

	.controls {
		padding: 0 55px 0 0;
	}

	textarea {
		height: 50px;
	}
}
#pageEditParts {

	.item {
		border-top: 1px solid #363638;
	}

	.item-title {
		position: relative;
		background: #4d4d4f;
		color: #fff;
		padding: 7px 15px;

		i {
			color: silver;
			font-style: normal;
			margin-left: 5px;
		}
	}

	.item-options-button {
		position: absolute;
		right: 15px; 
		top: 8px;
	}

	.item-options {
		padding: 5px 15px;
		display: none;
		border-bottom: 1px solid #ccc;
		background: whitesmoke;

		div {
			margin: 10px 0;
		}
	}

	.item-content {
		padding: 1px;
		background: #ccc;

		textarea {
			width: 100%;
			max-width: 100%;
			min-width: 100%;
			height: 250px;
			padding: 0;
			background: #fff;
			border: none;
			border-radius: 0;

			&:focus {
				outline: none;
			}
		}
	}

	.item-part-protected {
		padding: 7px 15px 7px 30px;
		background: url("../images/lock.png") 15px center no-repeat;
		font-size: 90%;
	}
}

#pageEditPartAdd {
	padding: 15px;
	border-top: 1px solid #ccc;
}

#pageEditOptions {
	p {
		margin: 1em 0;
	}

	label {
		display: block;
		font-size: 90%;
		margin-bottom: .2em;
	}

	.checkbox {
		display: block;
		margin: 0.2em 0;
		font-style: normal;

		label {
			display: inline;
		}
	}
}

/* ===================================================
	Plugins
 ===================================================*/
#PluginsList {
	.actions  {
		vertical-align: middle;
	}

	td {
		vertical-align: middle;
	}
}
/*
	handset media gadgets
*/
@media mobile, handheld {
	#pageMap .actions {
		display:block;
	}
}


// Custom bootstrap
.hero-unit {
	margin: 30px auto;
	padding: 30px 50px;
	border: 1px solid #ccc;
	background: #F5F5F5;

	h1 {
		font-size: 30px;
	}

	.help-block {
		font-size: 10px;
		margin-top: 4px;
	}

	legend {
		border-bottom-color: #fff;
	}
}

#login-form {
	width: 450px;

	.control-group {
		input.login-field {
			font-size: 18px;
			padding: 10px;
		}

		.add-on {
			padding: 10px;
		}
	}
}
	
#error-container {
	width: 600px;
	margin-top: 60px;
	padding: 60px 80px 80px;
	text-align: center;
	background: whitesmoke;
	border-color: #fff;
	border-width: 10px;

	h1 {
		font-size: 60px;
	}

	.error-actions {
		margin-top: 30px;
	}
}

table {
	td.pass { color: #191; }
	td.fail { color: #911; }
}

.page-actions {
	padding: 10px;
	background: whitesmoke;
	margin-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.label {
	a {
		color: #fff;

		&:hover {
			text-decoration: none;
		}
	}
}
.form-actions {
	.btn {
		margin-right: 5px;
	}
}

.form-horizontal {
	.well {
		padding-left: 0;
		padding-bottom: 0;
		background: #fff;
	}
}

#contentSidebar {
	padding: 19px;
	background: whitesmoke;
}

.well  {
	.form-actions {
		margin-bottom: 0;
	}
}

.form-horizontal .help-block,
.help-block {
	font-size: 80%;
	color: gray;
	margin-top: 3px;
}

input.title {
	width: 98%;
	font-size: 20px;
	padding: 10px;
}


.input-plarge {
	width: 100%;
}

#textarea_content {
	width: 98%;
	padding: 10px;
}

#sidebar-nav .well {
	padding: 10px 0;
}

.well {
	border: 1px solid #DDD;
}

.navbar-fixed-top .container, 
.navbar-fixed-bottom .container {
	width: auto;
	padding: 0 20px;
}

.page-header {
	margin: 0 0 15px;
	padding-bottom: 10px;

	h1 {
		font-size: 20px;
		line-height: 20px;
		margin: 0;
	}
}

.breadcrumb {
	margin: 15px 0 0;
}

form:last-child {
	margin: 0;
}

.control-group  {
	.title {
		line-height: 30px;
		font-size: 120%;
	}
}

legend {
	margin-bottom: 0;
}

.ui-dialog-buttonset {
	button {
		cursor: pointer;
		display: inline-block;
		background-color: #e6e6e6;
		background-repeat: no-repeat;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
		background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
		padding: 5px 14px 6px;
		margin: 0;
		text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		color: #333;
		font-size: 13px;
		line-height: normal;
		border: 1px solid #ccc;
		border-bottom-color: #bbb;

		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		-webkit-transition: 0.1s linear background-image;
		-moz-transition: 0.1s linear background-image;
		-ms-transition: 0.1s linear background-image;
		-o-transition: 0.1s linear background-image;
		transition: 0.1s linear background-image;
		overflow: visible;
	}
}