.elfinder {}

.elfinder-toolbar {
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top,#FAFAFA,#E9E9E9);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FAFAFA),to(#E9E9E9));
	background-image: -webkit-linear-gradient(top,#FAFAFA,#E9E9E9);
	background-image: -o-linear-gradient(top,#FAFAFA,#E9E9E9);
	background-image: linear-gradient(to bottom,#FAFAFA,#E9E9E9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe9e9e9', GradientType=0);
	
	border-width: 0;
	border-bottom: 1px solid #ccc;
}

.elfinder-statusbar {
	border-width: 0;
	background: whitesmoke;
	background-image: none;
	padding: 5px;
	
	border-top: 1px solid #ccc;
}

.outline .elfinder {
	margin: 4px;
	border: 1px solid #CCCCCC;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);
}

.elfinder .ui-dialog input {
	width: auto;
}


.elfinder-buttonset {
	padding: 2px;
	background: #f9f9f9;
	margin: 1px 1px 2px 9px;
	border-width: 0;
}

.elfinder-buttonset .elfinder-button {
	background: #fff;
	background-image: none;
}
.elfinder .elfinder-navbar {
	background: whitesmoke;
	background-image: none;
	border-left-width: 0;
	border-top-width: 0;
}

.elfinder-button-search input {
	margin: 3px 0 0;
	border: 1px solid #ccc;
	width: 140px;
	padding: 0 30px;
}

.elfinder-button-search .ui-icon {
	margin: -7px 8px 0;
}


