.elfinder {}

.elfinder .elfinder-toolbar {
	background-color: #f3f3f3 !important;
	
	border-width: 0;
	border-bottom: 1px solid #ccc;
}

.elfinder .ui-dialog-titlebar {
	background-color: #f3f3f3 !important;
}

.elfinder-statusbar {
	border-width: 0;
	background: whitesmoke;
	background-image: none;
	padding: 5px;
	
	border-top: 1px solid #ccc;
}

.outline .elfinder {
	margin: 4px;
	border: 1px solid #CCCCCC;
}

.elfinder .ui-dialog input {
	width: auto;
}


.elfinder-buttonset {
	padding: 2px;
	background: #f9f9f9;
	margin: 1px 1px 2px 9px;
	border-width: 0;
}

.elfinder-buttonset .elfinder-button {
	background: #fff;
	background-image: none;
}
.elfinder .elfinder-navbar {
	background: whitesmoke;
	background-image: none !important;
	border-left-width: 0;
	border-top-width: 0;
}

.elfinder-button-search input {
	margin: 3px 0 0;
	border: 1px solid #ccc;
	width: 140px;
	padding: 0 30px;
}

.elfinder-button-search .ui-icon {
	margin: -7px 8px 0;
}

.elfinder .ui-dialog.elfinder-dialog-confirm .ui-dialog-content {
	padding: 1em 1em 1em 5.5em;
}


